.card {
  width: 200px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.card:hover
{
  opacity: 80%;
}

.card .content h1 {
  font-size: 24px;
}

.card .content * {
  font-size: 15px;
}

.card .content ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}