.container-fluid {
  width: 100%;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin-top: 5vh;
  background-color: #10455b;
}

#title-column {
  margin-top: 3%;
}

#modal {
  margin-top: 10%;
}
