# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\aronh\OneDrive\Documenten\School\Semester 3\GPS3\Digital-Menu-Application\frontend\restaurant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
